docutils
pygments
kivy_deps.sdl2
kivy_deps.glew
kivy_deps.angle
kivy
Kivy-Garden
kivy_garden.matplotlib @ https://github.com/kivy-garden/matplotlib/archive/master.zip
pandas
numpy
mplfinance
matplotlib
